*{
  box-sizing: ;40%
}
header{
  height: 100vh
  width:50vw
  background-color: lightcyan;
  text-align: center;
  
}

.middle-section{
  
}

aside{
  height:100px
  width:20px
  align-items:column
  background-color: lightseagreen;
}

.image-section{
  /* Add height and width here */
  height: 40vh
  width: 60vw
  background-color: aliceblue;
  /* Add flex properties here */
  text-align: left;
}

footer{
  height:100vh
  width:150vw
  background-color: lime;
}